includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules

    level: 5

    excludePaths:
        - '*/vendor/*'
        - '*/Database/Migrations/*'

    checkOctaneCompatibility: false
    checkModelProperties: false
